<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = 'UTF-8'>
    <title>{% block title %}Standart{% endblock %}</title>
</head>
<body>
        <div id="ant029_shop" class="ant029_shop_container">
        <div class="container">
            <div class="row">
                <!-- Blog Area -->
                <main class="col-lg-12 col-xs-12 ant029_shop-studio_shop_area">
                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img alt="фото Alfa Romeo 145  " src="https://img.salon.av.by/180x120c/catalog/alfa-romeo/145/10/2/1024710d.jpeg"/>
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 145</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img alt="фото Alfa Romeo 146  " src="https://wroom.ru/i/carsmini/alfaromeo146.jpg"/>
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 146</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="ALFA-ROMEO-147-GTA-14_25.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 147</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="bd0569799abcb3d4d6c77c38e1dd9769.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 155</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="original.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 156</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="carpixel.net-2007-alfa-romeo-159-ti-au-61651-hd.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 159</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="H0AAAgAy4eA-960.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 164</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="9217.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 166</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="4b6402f6df696cd9f70858d2f29ba9f0.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 1900 M</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="Alfaromeo_33_1.3cc_anno_1990.jfif" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 33</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="149257-2013-alfa-romeo-4c-970-supercar-4-c.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 4C</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="alfa-romeo_75_002.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 75</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="Alfa_Romeo_2008_8C_492303.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 8C</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="TQAAAgC0a-A-960.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo 90</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="img/ant029_shop/32070_alfa-romeo-alfa-6-flickr-photo-sharing.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Alfa 6</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="DNEfEn9XUAEb3IJ.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Alfasud</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="ALFA-ROMEO-Alfetta-1459_9.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Alfetta</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="d03d0f3ac22bbfb2459a1dc3cfad2410.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo AR6</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="4035168742_e8b4e8d853_b.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo AR8</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="ALFA-ROMEO-Arna-1741_33.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Arna</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="MQAAAgKnBuA-960.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Brera</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="alfa_romeo_crosswagon_q4_2006_8.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Crosswagon</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="alfa-romeo-giulia-quadrifoglio-frankfurt-2015-33.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Giulia</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="alfa-romeo-giulietta-5-door-hatchback-2010-034.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Giulietta</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="1177518Alfa-Romeo-GT-Q2-widescreen-06.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo GT</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="Alfa-Romeo-GTV (1).jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo GTV</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="alfa-romeo-mito-quadrifoglio-7.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo MiTo</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="alfa-romeo-montreal-04.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Montreal</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="Romeo2.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Romeo</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="img/ant029_shop/215.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo RZ</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="img/ant029_shop/alfa-romeo-spider-2006-19.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Spider</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="img/ant029_shop/ALFA-ROMEO-Sprint-1277_13.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Sprint</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="ALFA-ROMEO-Stelvio-Quadrifoglio-5925_18.jpg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo Stelvio</span></h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="ant029_shop-single_shop">
                                <div class="ant029_shop-project_link">
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="image-84.jpeg" alt="">
                                    </a>
                                    <!-- ant029_shop-project_hover End -->
                                </div>
                                <a href="shop-detail.html">
                                    <h3><span>Alfa Romeo SZ</span></h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </main>
                <!--/ Blog Area -->

            </div>
        </div>
        <!-- Container /- -->
    </div>

</body>
</html>
